*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  inline-size: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  inline-size: 711px;
}

.result__video-container {
  position: relative;
  block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  min-inline-size: 225px;
  min-block-size: 27px;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: #FFF;
}

.button {
  border: 1px solid #FFF;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  min-inline-size: 194px;
  min-block-size: 34px;
}

.title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 399px;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  margin: 2px;
  padding: 2px;
  color: #FFF;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-inline-size: 200px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
  min-block-size: 34px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}